<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TEAM "Insert Name" Awesome Notes app</title>
    <meta name="description" content="basic notes app built without using any framework apart form NodeJS">
    <meta name="author" content="">
  </head>
  <body>
    <input type="text" id="box" value="">
    <button id="Add Note" onclick="note.addNote()">Add Note</button><br>
    <div id='displayNoteLink'></div>
    <div id='displayNote'></div>
    <script src='/js/notes.js'></script>
  </body>
</html>
